body{
    font-family: 'Andika New Basic', sans-serif; 
}

.img-responsive{
    max-width: 100%;
}

.bg-img{
    background-image: url(1.png);
    background-size: cover;
    position: relative;
    height: 100vh;
}

.mainWrapperr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainWrapperr h1{
    font-size: 2.4rem;
    text-align: center;
}

.form_place{
    text-align: center;
}

.form_place .place{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form_place .submit_button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgrey;
    border: none;
    margin-top: 1rem;
}


/* Places Section  */
.place {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.place_list{
    float: left;
    width: 32%;
    margin-left: .5rem;
    margin-top: 3rem;
}
